@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
	font-family: Roboto;
	src: url(https://fonts.google.com/specimen/Roboto?query=roboto);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	font-family: "Roboto";
}

body {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 5fr;
}

header {
	display: flex;
	flex-direction: column;
	padding: 12px 24px;
}

.header-top {
	display: flex;
	align-items: center;
	gap: 16px;
}

.header-top input {
	flex: 0.75;
	border-radius: 16px;
	border-color: transparent;
	padding: 8px;
	background-color: #F1F5F9;
	font-size: 16px;
}

.header-top .notifications {
	padding: 6px;
	margin-left: auto;
}

.header-top .notifications:hover {
	border-radius: 50%;
	background-color: #f2f3f3;
}

.profile {
	border-radius: 50%;
	padding: 8px;
	color: white;
	background-color: #1992D4;
	font-size: 18px;
}

.user-welcome .profile {
	padding: 12px;
	font-size: 24px;
}

.user-welcome h3 {
	font-size: 22px;
}

.header-bottom {
	display: flex;
	align-items: center;
	margin-top: auto;
}

.user-welcome {
	display: flex;
	align-items: center;
	gap: 16px;
}

.profile-btns {
	display: flex;
	gap: 16px;
	margin-left: auto;
}

.profile-btns button {
	border-radius: 24px;
	border-color: transparent;
	padding: 8px 28px;
	color: white;
	background-color: #1992D4;
	font-size: 16px;
}

.profile-btns button:hover {
	filter: brightness(95%);
}

.sidebar {
	grid-row: 1/-1;
	padding: 16px;
	background-color: #1992D4;
	color: white;
}

.logo {
	display: flex;
	gap: 12px;
	margin-bottom: 24px;
}

.logo h1 {
	margin-top: auto;
	margin-bottom: auto;
}

.sidebar ul {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-left: 2px;
}

.sidebar a {
	display: flex;
	align-items: center;
	gap: 16px;
	padding: 8px;
}

.sidebar li:hover {
	background-color: #f3f4f617;
}

main {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: auto auto 1fr;
	gap: 24px 24px;
    padding: 16px;
	background-color: #E2E8F0;
}

.projects {
	grid-row: 1/-1;
}

.projects-cards-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 200px;
	gap: 16px;
}

.projects-cards-container .card {
	display: flex;
	flex-direction: column;
	min-height: 0;
	border-radius: 8px;
    border-left: 8px solid #FFA500;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 16px;
	background-color: white;
}

.card-icons-container {
	display: flex;
	margin-top: auto;
	justify-content: end;
	gap: 16px;
}

.announcements-cards-container {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 16px;
	gap: 16px;
	background-color: white;

}

.announcements-cards-container .card:not(:last-child) {
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid #D2D2D2;
	padding-bottom: 16px;
}

.trends-cards-container {
	display: flex;
	flex-direction: column;
    border-radius: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 16px;
    padding: 16px;
	background-color: white;
}

.trend {
    display: flex;
    gap: 16px;
}

.trend svg {
    grid-row: 1/-1;
}

.trend .details {
    grid-column: 2/3;
}

.trend .title::before {
    content: '@';
}

.trend .details {
    margin-left: 1px;
}

.title {
	font-size: 18px;
	font-weight: bold;
}

.details {
	border: none;
	overflow: hidden;
	resize: none;
	font-family: "Roboto";
	font-size: 16px;
}

svg,button {
	cursor: pointer;
}

svg.favorite:hover path {
    fill: rgb(255, 238, 0);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}

svg.watch-later:hover path {
    fill: blue;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}

svg.fork:hover path{
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .7));
}

li {
	list-style: none;
}

a {
	font-size: 20px;
	color: white;
	text-decoration: none;
}
