@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@font-face {
	font-family: Roboto;
	src: url(https://fonts.google.com/specimen/Roboto?query=roboto);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	font-family: "Roboto";
}
svg {
	width: 5px;
	height: 5px;
}

body {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 5fr;
	background-color: chartreuse;
}

header {
	background-color: aliceblue;
	grid-column: 2/-1;
}

.sidebar {
	background-color: aqua;
	grid-row: 1/-1;
}

main {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 16px;
    padding: 16px;
	background-color: #E2E8F0;
}

.projects {
	padding: 12px;
	grid-row: 1/-1;
}

.projects-cards-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 200px;
	gap: 16px;
}

.projects-cards-container .card {
	display: flex;
	flex-direction: column;
	min-height: 0;
	border-radius: 8px;
    border-left: 8px solid #FFA500;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 16px;
	background-color: white;
}

.details {
	border: none;
	overflow: hidden;
	resize: none;
	font-family: "Roboto";
	font-size: 16px;
	/* min-height: 0; */
	/* word-break: break-all; */
	/* overflow-wrap: break-word; */
	/* text-overflow: clip; */
	/* overflow: clip; */
}

.card-icons-container {
	display: flex;
	margin-top: auto;
	justify-content: end;
	gap: 16px;
}

svg {
	cursor: pointer;
}

svg.favorite:hover path {
    fill: rgb(255, 238, 0);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}

svg.watch-later:hover path {
    fill: blue;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.7));
}

svg.fork:hover path{
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .7));
}

.announcements {
	display: flex;
	flex-direction: column;
	background-color: wheat;
}

.trends-cards-container {
	display: flex;
	flex-direction: column;
    gap: 16px;
    padding: 16px;
	grid-column: 2/3;
	background-color: coral;
}

.trend {
    display: flex;
    gap: 16px;
}

.trend svg {
    grid-row: 1/-1;
}

.trend .details {
    grid-column: 2/3;
}

.trend .title:before {
    content: '@';
}

.title {
	font-size: 18px;
	font-weight: bold;
}

